<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Google Key</key>
	<string>8c60945f05f0ba1f8e522b3584718a69</string>
	<key>Forcastio Key</key>
	<string>AIzaSyAffaG0NDNz_vbuUnMGN9fuEP1tf3BaKkY</string>
</dict>
</plist>
